<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolkids.todo.todoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".LogInActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coolkids.todo.todoapp.LogInActivity" />
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".LogInActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coolkids.todo.todoapp.LogInActivity" />
        </activity>
        <activity
            android:name=".join"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_join"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coolkids.todo.todoapp.MainActivity" />
        </activity>
        <activity
            android:name=".create_event"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_create_event"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coolkids.todo.todoapp.MainActivity" />
        </activity>
        <activity
            android:name=".share_code"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_share_code"
            android:parentActivityName=".create_event"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coolkids.todo.todoapp.create_event" />
        </activity>
    </application>

</manifest>